.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: #ff4444;
  height: 80px;
  color: white; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-header {
  font-weight: bold;
} 

.App_header_Jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.signUp {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: 100px;
}

.container {
  width: 60%;
}

.nav-pills {
  padding: 20px;
}

.panel-primary {
  text-justify: left;
}

.panel-heading {
  display: flex;
  flex-wrap: nowrap;
  font-weight: bold;
}

.panel-title {
  margin-top: auto;
  margin-left: 20px;
  margin-bottom: auto;
  margin-right: auto;
  font-size: 25px;
  font-weight: bold;
}

.panel-button {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.panel-text {
  text-align: center;
  padding: 10px;
}
 
.carousel {
  margin-top: 10px;
  height: 400px;
}

.App-intro {
  font-size: large;
}

.modal-content {
  min-height: 200px;
}

.form-control-textarea {
  min-width: 450px; 
  min-height: 100px;  
  font-size: 2em;
}

.commentModel {
  margin-top: 250px;
}

.commentModel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
